<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BigData1701_19_BookManagerzhong</display-name>
  <servlet>
    <servlet-name>FindAllBooks</servlet-name>
    <servlet-class>com.qianfeng.servlet.FindAllBooks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBookServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.FindBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelBookServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.DelBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelBooksServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.DelBooksServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBooksServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.SearchBooksServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findEmailServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.findEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findBooksByNameServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.findBooksByNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.FindBookByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeNumServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.ChangeNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.MyAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findUserServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.findUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindOrderList</servlet-name>
    <servlet-class>com.qianfeng.servlet.FindOrderList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindOrderInfoServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.FindOrderInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteOrderInfoServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.DeleteOrderInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayOnLineServlet</servlet-name>
    <servlet-class>com.qianfeng.servlet.PayOnLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/CheckImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBooks</servlet-name>
    <url-pattern>/FindAllBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBookServlet</servlet-name>
    <url-pattern>/FindBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBookServlet</servlet-name>
    <url-pattern>/DelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBooksServlet</servlet-name>
    <url-pattern>/DelBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBooksServlet</servlet-name>
    <url-pattern>/SearchBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findEmailServlet</servlet-name>
    <url-pattern>/findEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findBooksByNameServlet</servlet-name>
    <url-pattern>/findBooksByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <url-pattern>/servlet/FindBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/servlet/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeNumServlet</servlet-name>
    <url-pattern>/servlet/ChangeNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/servlet/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/servlet/MyAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findUserServlet</servlet-name>
    <url-pattern>/servlet/findUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/servlet/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/servlet/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderList</servlet-name>
    <url-pattern>/servlet/FindOrderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderInfoServlet</servlet-name>
    <url-pattern>/servlet/FindOrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderInfoServlet</servlet-name>
    <url-pattern>/servlet/DeleteOrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayOnLineServlet</servlet-name>
    <url-pattern>/servlet/PayOnLineServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.qianfeng.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>